* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100%;
    max-width: 1310px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.nav {
    background-color:rgb(250, 34, 15);
}

.nw-logo {
    width: 45%;
    margin: 0 auto;
}

.nav-item img {
    justify-content: center;
}

.nav-img {
    width: 25px;
    margin-right: 10px;
}

.weather-link {
    flex-direction: row;
    padding: 5px 0;
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 800;
    align-items: center;
    margin-top: 0.625rem;
}

.weather-link:hover {
    color: #FFF;
}

.weather-date {
    color: white;
}

.subscribe-btn {
    height: 30px;
    width: auto;
    background-color:rgb(255, 228, 45);
    border-radius: 20px;
}

.right-nav {
    align-self: flex-end;
    padding-bottom: 7px;
}