* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    height: 100%;
    max-width: 1310px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.nav {
    background-color: rgb(250, 34, 15);
}

.nw-logo {
    max-width: 400px;
    margin: 0 auto;
}

.nav-item img {
    justify-content: center;
}

.nav-img {
    width: 25px;
    margin-right: 10px;
}

.weather-link {
    flex-direction: row;
    padding: 5px 0;
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 800;
    align-items: center;
    margin-top: 0.625rem;
}

.weather-link:hover {
    color: #FFF;
}

.link-color {
    color: #FFF;
}

.subscribe-btn {
    background-color: rgb(255, 228, 45);
    border-radius: 20px;
    margin: 8px 0;
    padding: 0px 15px;
    font-weight: 700;
    font-size: 18px;
}

.right-nav {
    align-items: flex-end;
    padding-bottom: 10px;
}

.right-arrow {
    color: #000;
}

.right-nav a {
    font-weight: 700;
}

.white-nav {
    padding: 5px 0;
}

.white-nav-ul {
    font-weight: 700;
    
}

.white-nav-ul li {
    border-left: 1px solid rgb(217, 217, 217);
}

.white-nav-ul li:nth-child(1) {
    border-left: none;
}

.white-nav-ul a {
    height: auto;
    padding: 0;
    font-size: 17px;
}

.nav-input {
    max-width: 87px;
    height: auto;
    border: none;
}

.nav-padding {
    padding: 0;
}

.grey-nav {
    width: 100%;
    border-top: 1px solid rgb(244, 245, 246);
    border-bottom: 1px solid rgb(244, 245, 246);
}

.grey-nav li {
    padding-left: 11px;
}

.grey-nav a {
    font-size: 16px;
    font-weight: 700;
    color: #807F84;
}